/* Lau Wan Jing:
https://www.w3schools.com/Css/css_navbar_horizontal.asp -- Develop navigation bar
https://www.javatpoint.com/how-to-bold-text-in-css -- font weight to bold
https://stackoverflow.com/questions/30624709/css-html-navigation-and-logo-on-same-line -- "E-Tutor" word on navigation bar
https://www.w3schools.com/Css/css_font.asp -- font type 
https://www.tutorialspoint.com/How-to-set-background-color-in-HTML -- Add background color 
Some links are attached in each rows*/

/* body */
body {background-color:#dfedd6;}

/* E-Tutor */
.p1 {
    font-family: "Times New Roman", Times, serif;
    font-size: larger;
    font-weight: bold;
    padding: 9px;
    margin: 9px;
    text-align: center;
    display:inline-block;
    vertical-align: top left;
    color: rgb(144, 215, 248);
}

/* Welcome to E-Tutor! */
.p2 {
    font-family: "Times New Roman", Times, serif;
    font-size: larger;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: block;
    color: black;
}

/* Page title: Log In, Register, Home Page, .... */
.p3 {
    font-family: "Times New Roman", Times, serif;
    font-size: larger;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    text-align: left;
    display: block;
    color: black;
    /* Lau Wan Jing: https://www.w3schools.com/Css/tryit.asp?filename=trycss_text-indent -- indentation of text */
    text-indent: 15px;
}

/* Normal words, instructions*/
.p4 {
    font-family: "Times New Roman", Times, serif;
    font-size: medium;
    padding: 0px;
    margin: 0px;
    text-align: left;
    display: block;
    color: black;
}

/* Input words */
.p5 {
    font-family: "Times New Roman", Times, serif;
    font-size: normal;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    text-align: left;
    display: block;
    color: black;
}

/* First navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Times New Roman", Times, serif;
}

/* Items on navigation bar */
li a {
    display: block;
    font-size: medium;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
}

li a:hover {
    background-color: rgb(105, 165, 233);
}

li {
    float: right;
    display: inline;
}

li a {
    display: margin;
    padding: 20px;
    background-color: #000000;
}

.active {
    background-color: rgb(105, 165, 233);
}

/* Second navigation bar */
ul2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(151, 213, 248);
    font-family: "Times New Roman", Times, serif;
    position: sticky;
    top: auto;
    width: 100%;
}

/* Items on navigation bar */
li a {
    display: block;
    font-size: medium;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
}

li a:hover {
    background-color: grey;
}

li {
    float: right;
    display: inline;
}

li a {
    display: margin;
    padding: 20px;
    background-color: #000000;
}

.active {
    background-color: rgb(105, 165, 233);
}


/* Lau Wan Jing: https://www.w3schools.com/csS/css3_buttons.asp -- button */
.button {
    background-color: #3d8af7;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-weight: bold;
    text-decoration: solid;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover {
    background-color: rgb(57, 43, 255);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.submit {
    background-color: #0844a4;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-weight: bold;
    text-decoration: solid;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.submit:hover {
    background-color: rgb(57, 43, 255);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.submit:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}