<!DOCTYPE html>
<html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
<head>

<body>
<div>

<ul>
    <p class="p1">E-Tutor</p>
    <li><a href="#Register">Register</a></li>
    <li><a href="#Login">Login</a></li>
    <li><a href="#Home Page">Home Page</a></li>
</ul>

<p>
<img src="{% static 'img/INTILogo.png' %}" alt="Inti Penang Logo"
style="float:right;width:160px;height:90px;">
<br>
</p>
<img src="{% static 'img/quiz.png' %}" alt="Quiz_icon"
style="float:left;width:40px;height:40px;">
<p class="p3">Quizzes</p>
<br>
<p class="p4">Choose your question to edit or delete it.</p>