<!DOCTYPE html>
    <html>
        {% load static %}

        <head>
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>

        <body>
        <div>

            <!-- <p> Lau Wan Jing: https://www.tutorialspoint.com/How-to-set-background-color-in-HTML -- Add background color </p> -->

            <ul>
                <p class="p1">E-Tutor</p>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/">Home Page</a></li>
            </ul>

            <!-- <p> Lau Wan Jing: second narvar bar as tab </p> -->

            <div class="tab">

                <!-- <p> Lau Wan Jing: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_navbar_icon </p> -->
                <i class="fa fa-fw fa-book"style="font-size:25px;"></i>
                <button onclick="courselist()">Course List</button>

                <!-- <p> Lau Wan Jing: https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-comments </p> -->
                <i class="fa fa-comments"style="font-size:25px;"></i>
                <button onclick="discussionboard()">Discussion Board</button>

                <i class="fa fa-star"style="font-size:25px;"></i>
                <button onclick="grades()">Grades</button>

                <!-- <p> Lau Wan Jing:  </p> -->
                <i class="fa fa-fw fa-trophy"style="font-size:25px;"></i>
                <button onclick="quizzes()">Quizzes</button>

                <i class="fa fa-fw fa-tasks"style="font-size:25px;"></i>
                <button onclick="todolist()">To-Do List</button>

            </div>

            <script type = "text/javascript">
                function courselist() {
                    window.location = "http://127.0.0.1:8000/courselist";
                }
                function discussionboard() {
                    window.location = "http://127.0.0.1:8000/discussionboard";
                }
                function grades() {
                    window.location = "http://127.0.0.1:8000/grades";
                }
                function quizzes() {
                    window.location = "http://127.0.0.1:8000/quizzes";
                }
                function todolist() {
                    window.location = "http://127.0.0.1:8000/todolist";
                }
            </script>

            <!-- <p> Lau Wan Jing: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_images_float -- Insert images 
            https://docs.djangoproject.com/en/4.0/howto/static-files/ -- static file </p> -->
            <img src="{% static 'img/INTILogo.png' %}" alt="Inti Penang Logo"
                style="float:right;width:160px;height:50px;"
            >
            
            <br>
            <br>
            <br>

            <p>
                <img src="{% static 'img/quizzes.png' %}" alt="Quiz_icon"
                style="float:left;width:40px;height:40px;">
            </p>
            
            <p class="p3">Quizzes</p>
            
                <!-- Oh Wen Chi:https://www.w3schools.com/html/html_form_input_types.asp -->
                <br>
                <p class="p4">Choose your question to edit or delete it.</p>
                <br>

                <br>
                    <p>
                        <p class="p5"><label for="topic"></label>
                        <select name="subject" id="subject">
                        <option value="">The decimal value of the hexadecimal number 777 is</option>
                        </select>
                    </p>

                    <br>
                    <br>

                    <!-- Oh Wen Chi:https://www.w3schools.com/html/html_form_input_types.asp -->
                    <p class="p5">Question:
                    <input type="question" name="question" value="The decimal value of the hexadecimal number 777 is" size="80"/>
                    </p>
    
                    <br>
        
                    <p class="p5">Answer Choice:
                    <br>
                    <input type="radio" name="question1" value="">
                    <input type="answer1" name="answer1" value="19" size="80" style="display: inline-flex;"/><br>
                    <input type="radio" name="question2" value="">
                    <input type="answer2" name="answer2" value="1911" size="80" style="display: inline-flex;"/><br>
                    <input type="radio" name="question3" value="">
                    <input type="answer3" name="answer3" value="191" size="80" style="display: inline-flex;"/><br>
                    <input type="radio" name="question4" value="">
                    <input type="answer4" name="answer4" value="19111" size="80" style="display: inline-flex;"/><br>
                    </p>
    
                    <br>
        
                    <!-- Oh Wen Chi:https://www.w3schools.com/tags/tag_center.asp -->
                    <p style="text-align:right;"><b>Marks:</b>
                        <input type="marks" name="marks" value="" size="10"/ text-align: right>
                    </p>
                </body>
    

                <br>
                <br>
            
                <div class=buttoncontainer>
                    <a href="{{request.META.HTTP_REFERER|escape}}" class="button">Cancel</a>
                    <button type="submit" class="submit">Submit</a>
                    <button type="submit" class="submit">Delete</a>
                </div>
        
        </div>
        </body>
    </html>