<!DOCTYPE html>
    <html>
        {% load static %}

        <head>
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        </head>

        <body>
        <div>
            <!-- <p> Lau Wan Jing: https://www.tutorialspoint.com/How-to-set-background-color-in-HTML -- Add background color </p> -->
        
            <ul>
                <p class="p1">E-Tutor</p>
                <li><a href="/register">Register</a></li>
                <li><a>Login</a></li>
                <li><a href="/">Home Page</a></li>
            </ul>

            <!-- <p> Lau Wan Jing: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_images_float -- Insert images 
            https://docs.djangoproject.com/en/4.0/howto/static-files/ -- static file </p> -->
            <img src="{% static 'img/INTILogo.png' %}" alt="Inti Penang Logo"
                style="float:right;width:160px;height:50px;"
            >
            
            <br>
            <br>
            <br>

            <p class="p2">
                Welcome to E-Tutor!
            </p>

            <p>
                <img src="{% static 'img/profile.png' %}" alt="Login_icon"
                style="float:left;width:40px;height:40px;">
            </p>

            <p class="p3">
                Log In
            </p>

            <br>

            <p class="p4">
                Please enter your username and password to access your online tutor account.
            </p>

            <br>
            <br>

            <!-- <p> Lau Wan Jing: https://www.youtube.com/watch?v=OTmQOjsl0eg&ab_channel=Telusko -- crsf token jinja </p> -->

            <form action="register" method="post">
                {% csrf_token %}

                <p class="p5">
                    Lecturer/Student ID
                </p>

                <input type="text"" id="staffid" name="staffid">
            
                <br>
                <br>
            
                <p class="p5">
                    Password
                </p>

                <input type="text" id="password" name="password">

                <br>
                <br>

                <p>
                    <a href="/forgotpassword">Forgot your password?</a>.</p>
                    <a href="/helpdesk">Login Help?</a>.</p>
                <p>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                
                <!-- <p> Lau Wan Jing: https://stackoverflow.com/questions/524992/how-to-implement-a-back-link-on-django-templates --back button by Author:Kalanos </p> -->
                <a href="{{request.META.HTTP_REFERER|escape}}" class="button">Cancel</a>
                <button type="submit" class="submit">Submit</a>
            </form>
        </div>
        <body>
    <html>
