<!DOCTYPE html>
<html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<!-- <p> Lau Wan Jing: https://www.tutorialspoint.com/How-to-set-background-color-in-HTML -- Add background color </p> -->
<body>

<ul>
    <p class="p1">E-Tutor</p>
    <li><a href="#Register">Register</a></li>
    <li><a href="#Login">Login</a></li>
    <li><a href="#Home Page">Home Page</a></li>
</ul>

<!-- <p> Lau Wan Jing: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_images_float -- Insert images </p> -->
<p>
<img src="{% static 'img/INTILogo.png' %}" alt="Inti Penang Logo"
style="float:right;width:160px;height:90px;">
<br>
</p>
<p class="p2">Welcome to E-Tutor!</p>
<p>
<img src="{% static 'img/profile.png' %}" alt="Login_icon"
style="float:left;width:40px;height:40px;">
<p class="p3">Log In</p>
<br>
<p class="p4">Please enter your username and password to access your online tutor account.</p>
<br>
<br>
<p class="p5">Lecturer/Student ID</p>
<input type="text" id="ID" name="Lecturer/Student ID">
<br>
<br>
<p class="p5">Password</p>
<input type="text" id="password" name="Password">
<br>
<br>
<a href="/forgotpassword">Forgot your password?</a>.</p>
<a href="/loginhelp">Login Help?</a>.</p>
<br>
<br>
<br>
<br>
<a href="#cancel" class="button">Cancel</a>
<br>
<a href="#submit" class="submit">Submit</a>

<br>
<br>

<html>
    <body>
        <div class="container py-5">
        <form method="POST">
            <label for="username">Username: </label>
            <input type="text" id="username" name = "username">
            <br><br>
            <label for="password">Password: </label>
            <input type="password" id="password" name = "password">
            <br><br>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
        </div>
    </body>
</html>