<!DOCTYPE html>
    <html>
        <body>
            <!-- Oh Wen Chi:https://www.w3schools.com/html/html_form_input_types.asp -->
            <p class="p5">Question:
            <input type="question" name="question" value="" size="50"/>
            </p>

            <p class="p5">Answer Choice:
            <br>
            <input type="answer1" name="answer1" value="" size="50"/><br>
            <input type="answer2" name="answer2" value="" size="50"/><br>
            <input type="answer3" name="answer3" value="" size="50"/><br>
            <input type="answer4" name="answer4" value="" size="50"/>
            </p>

            <!-- Oh Wen Chi:https://www.w3schools.com/tags/tag_center.asp -->
            <p style="text-align:right;">Marks:
                <input type="marks" name="marks" value="" size="10"/ text-align: right>
            </p>

        </body>
    </html>