<!DOCTYPE html>
<html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
<head>

<body>

<ul>
    <p class="p1">E-Tutor</p>
    <li><a href="#Register">Register</a></li>
    <li><a href="#Login">Login</a></li>
    <li><a href="#Home Page">Home Page</a></li>
</ul>

<p>
<img src="{% static 'img/INTILogo.png' %}" alt="Inti Penang Logo"
style="float:right;width:160px;height:90px;">
<br>
</p>
<img src="{% static 'img/quiz.png' %}" alt="Quiz_icon"
style="float:left;width:40px;height:40px;">
<p class="p3">Quizzes</p>
<br>
<p class="p4">Choose the subjects and quizzes to edit.</p>
<br>
<a href="#submit" class="submit">Submit</a>

<html>
<head>
<style>

div.ex1 { 
  background-color: LightGray;
  border: 2px solid black;
  padding: 15px;
}

div.ex2 { 
  background-color: LightGray;
  border: 2px solid black;
  padding: 15px;
} 

div.ex3 { 
  background-color: LightGray;
  border: 2px solid black;
  padding: 15px;
}

div.ex4 { 
  background-color: LightGray;
  border: 2px solid black;
  padding: 15px;
} 

</style>
</head>
<body>

<div style="padding-left:16px">
  <h2>Quizzes</h2>
  <p>Choose the subjects and quizzes to edit.</p>
</div>

<div class="ex1"><b>Quiz Chapter 1</div>
<br>
<div class="ex2">Quiz Chapter 2</div>
<br>
<div class="ex3">Quiz Chapter 3</div>
<br>
<div class="ex4">Quiz Chapter 4</div>

</body>
</html>