<!DOCTYPE html>
    <html>
        {% load static %}

        <head>
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        </head>

        <body>
        <div>
            <ul>
                <p class="p1">E-Tutor</p>
                <li><a>Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/">Home Page</a></li>
            </ul>

            <p>
                <!-- <p> Lau Wan Jing: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_images_float -- Insert images 
                https://docs.djangoproject.com/en/4.0/howto/static-files/ -- static file </p> -->
                <img src="{% static 'img/INTILogo.png' %}" alt="Inti Penang Logo"
                style="float:right;width:160px;height:90px;">
            </p>
    
            <br>
    
            <p class="p2">
                Welcome to E-Tutor!
            </p>

            <p>
                <img src="{% static 'img/profile.png' %}" alt="Register_icon"
                style="float:left;width:40px;height:40px;">

                <p class="p3">
                    Register
                </p>
            <p>

            <p class="p4">
                Please fill in your information below and check your email for the password.
            </p>

            <br>
            <br>

            <form action="register" method="post">
                <!-- <p> Lau Wan Jing: https://www.youtube.com/watch?v=OTmQOjsl0eg&ab_channel=Telusko -- crsf token jinja </p> -->

                {% csrf_token %}

                <p class="p5">
                    Lecturer/Student ID
                </p>

                <input type="text" name="staffid" value=""/>

                <br>
                <br>

                <p class="p5">
                    Full Name
                </p>

                <input type="text" name="name" value=""/>
            
                <br> 
                <br>

                <p class="p5">
                    Email Address
                </p>

                <input type="text" name="email" value=""/>

                <br>
                <br>
                
                <p class="p5">
                    Captcha
                </p>
         
                <input type="text" id="captcha" name="captcha">

            </form>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <!-- <p> Lau Wan Jing: https://stackoverflow.com/questions/524992/how-to-implement-a-back-link-on-django-templates --back button by Author:Kalanos </p> -->
            <a href="{{request.META.HTTP_REFERER|escape}}" class="button">Cancel</a>
            <button type="submit" class="submit">Submit</a>
            
        </div>
        <body>
    <html>