<!DOCTYPE html>
    <html>
        {% load static %}

        <head>
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        </head>

        <body>

            <ul>
                <p class="p1">E-Tutor</p>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/">Home Page</a></li>
            </ul>

            <p>
                <!-- <p> Lau Wan Jing: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_images_float -- Insert images 
                https://docs.djangoproject.com/en/4.0/howto/static-files/ -- static file </p> -->
                <img src="{% static 'img/INTILogo.png' %}" alt="Inti Penang Logo"
                style="float:right;width:160px;height:90px;">
            </p>
    
            <br>
    
            <p class="p2">
                Welcome to E-Tutor!
            </p>

            <p>
                <img src="{% static 'img/profile.png' %}" alt="Register_icon"
                style="float:left;width:40px;height:40px;">

                <p class="p3">
                    Register
                </p>
            <p>
            
            <br>

            <p class="p4">
                Please fill in your information below and check your email for the password.
            </p>

            <br>
            <br>

            <p class="p5">
                Lecturer/Student ID
            </p>

            <form action="register" method="post">
                <!-- <p> Lau Wan Jing: https://www.youtube.com/watch?v=OTmQOjsl0eg&ab_channel=Telusko -- crsf token jinja </p> -->
                {% csrf_token %}
            
                <label for="staffid" class="control-label col-sm-2">Staff ID</label>
                <input type="text" name="staffid" value=""/>
            <br>
                        
            <label for="name" class="control-label col-sm-2">Name</label>
            <input type="text" name="name" value=""/>
            <br>
                        
            <label for="email" class="control-label col-sm-2">Email</label>
            <input type="text" name="email" value=""/>
            <br>
                        
            <label for="password_hash" class="control-label col-sm-2">Password</label>
            <input type="password" name="password_hash" value=""/>
              <br>          
            <label for="isactive" class="control-label col-sm-2">Active</label>
            <input type="text" name="isactive" value= 1 disabled="disabled"/>
            <br>
<!-- 
            <p class="p5">
                Full Name
            </p>

            <form action="register" method="post">

                <input type="text" id="fullname" name="fullname">
            </form>

            <br>
            <br>

            <p class="p5">
                Email Address
            </p>

            <form action="register" method="post">
          
                <input type="text" id="email" name="email">
            </form>

            <br>
            <br>

            <p class="p5">
                Captcha
            </p>

            <form action="register" method="post">
         
                <input type="text" id="captcha" name="captcha">
            </form>

            <br>
            <br>

            <a href="#cancel" class="button">Cancel</a>
            <br>
             -->
            <button type="submit" class="btn btn-default">Submit</a>
        </form>
        <body>
    <html>